body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: white;
}

header {
  text-align: center;
  padding: 60px 20px;
  background: #020617;
}

header h1 {
  margin: 0;
  font-size: 40px;
}

nav {
  text-align: center;
  background: #020617;
  padding: 10px;
}

nav a {
  color: #38bdf8;
  margin: 0 15px;
  text-decoration: none;
}

section {
  padding: 50px 20px;
  max-width: 900px;
  margin: auto;
}

h2 {
  color: #38bdf8;
}

.skills span {
  display: inline-block;
  background: #1e293b;
  padding: 10px 15px;
  margin: 5px;
  border-radius: 6px;
}

.project {
  background: #1e293b;
  padding: 20px;
  margin-top: 15px;
  border-radius: 8px;
}

footer {
  text-align: center;
  padding: 20px;
  background: #020617;
  margin-top: 40px;
}
